@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: #ffffff;
  color: #2c3e50;
  font-family: "Montserrat", Helvetica, sans-serif;
}

a {
  color: #2980b9;
}
a:hover {
  color: #3498db;
}

button,
input[type=button],
input[type=submit] {
  font-family: "Montserrat", Helvetica, sans-serif !important;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

main {
  position: relative;
  top: 50px;
}

nav {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-top: 3px solid #27ae60;
  position: fixed;
  z-index: 99999999;
}
nav.nav {
  box-shadow: 0 0 5px #bdc3c7;
}
nav ul.nav-list {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav ul.nav-list li {
  list-style: none;
  padding: 5px 10px;
}
nav ul.nav-list li a {
  color: #2c3e50;
}
nav ul.nav-list li a.nav-link {
  text-decoration: none;
}
nav ul.nav-list li a:hover {
  color: #f39c12;
}
nav ul.nav-list li a img.logo {
  padding-left: 15px;
  height: 25px;
}
nav .login-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
nav .login-section .button {
  margin-right: 15px;
  margin-bottom: 7px;
}

.sidebar {
  padding: 30px 0;
  width: 170px;
  height: 100vh;
  background: #ffffff;
  background: linear-gradient(90deg, #ffffff 0%, #ffffff 75%, rgba(236, 240, 241, 0.1) 100%);
  border-right: 1px solid #bdc3c7;
  position: absolute;
  z-index: 1;
}
.sidebar ul {
  list-style: none;
}
.sidebar ul li {
  padding: 5px 0;
}
.sidebar ul li.active a, .sidebar ul li.active a:hover {
  background: #ecf0f1;
  color: #010f2c;
  width: 100%;
  border-right: 4px solid #27ae60;
  font-weight: 600;
}
.sidebar ul li a {
  text-decoration: none;
  font-weight: 500;
  color: #5c6a79;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 6px 10px;
}
.sidebar ul li a:hover {
  background: linear-gradient(90deg, rgba(236, 240, 241, 0.1) 0%, #ecf0f1 70%, #ecf0f1 100%);
  color: #010f2c;
  border-right: 4px solid #f39c12;
}
.sidebar ul li a svg.feather {
  width: 20px !important;
  height: 20px !important;
  padding-right: 5px;
}
.sidebar .hide {
  right: 50vw;
  opacity: 0;
  visibility: none;
}

.container {
  width: 930px;
  position: relative;
  left: 170px;
  padding: 30px;
}

.button,
a.button,
button.button,
input[type=button].button,
input[type=submit].button {
  margin: 5px 0;
  padding: 10px 20px;
  border-radius: 4px !important;
  text-decoration: none !important;
  color: #ffffff !important;
  text-align: center;
  display: inline-block;
  font-size: 15px !important;
}
.button:hover,
a.button:hover,
button.button:hover,
input[type=button].button:hover,
input[type=submit].button:hover {
  cursor: pointer;
}
.button.small,
a.button.small,
button.button.small,
input[type=button].button.small,
input[type=submit].button.small {
  padding: 5px 15px !important;
  border-radius: 3px !important;
  font-size: 14px !important;
}
.button.block,
a.button.block,
button.button.block,
input[type=button].button.block,
input[type=submit].button.block {
  display: block !important;
  width: 100%;
}
.button.green, .button.success,
a.button.green,
a.button.success,
button.button.green,
button.button.success,
input[type=button].button.green,
input[type=button].button.success,
input[type=submit].button.green,
input[type=submit].button.success {
  background-color: #27ae60 !important;
  border: 1px solid #27ae60 !important;
}
.button.green:hover, .button.success:hover,
a.button.green:hover,
a.button.success:hover,
button.button.green:hover,
button.button.success:hover,
input[type=button].button.green:hover,
input[type=button].button.success:hover,
input[type=submit].button.green:hover,
input[type=submit].button.success:hover {
  background-color: #2ecc71 !important;
  border: 1px solid #2ecc71 !important;
}
.button.green.outline, .button.success.outline,
a.button.green.outline,
a.button.success.outline,
button.button.green.outline,
button.button.success.outline,
input[type=button].button.green.outline,
input[type=button].button.success.outline,
input[type=submit].button.green.outline,
input[type=submit].button.success.outline {
  background-color: transparent !important;
  color: #27ae60 !important;
  border: 1px solid #27ae60 !important;
}
.button.green.outline:hover, .button.success.outline:hover,
a.button.green.outline:hover,
a.button.success.outline:hover,
button.button.green.outline:hover,
button.button.success.outline:hover,
input[type=button].button.green.outline:hover,
input[type=button].button.success.outline:hover,
input[type=submit].button.green.outline:hover,
input[type=submit].button.success.outline:hover {
  background-color: #36d278 !important;
  border: 1px solid #36d278 !important;
  color: #ffffff !important;
}
.button.green.gradient, .button.success.gradient,
a.button.green.gradient,
a.button.success.gradient,
button.button.green.gradient,
button.button.success.gradient,
input[type=button].button.green.gradient,
input[type=button].button.success.gradient,
input[type=submit].button.green.gradient,
input[type=submit].button.success.gradient {
  background: linear-gradient(180deg, #ddf7e8 0%, #60db94 3%, #27ae60 9%, #27ae60 100%) !important;
}
.button.green.gradient:hover, .button.success.gradient:hover,
a.button.green.gradient:hover,
a.button.success.gradient:hover,
button.button.green.gradient:hover,
button.button.success.gradient:hover,
input[type=button].button.green.gradient:hover,
input[type=button].button.success.gradient:hover,
input[type=submit].button.green.gradient:hover,
input[type=submit].button.success.gradient:hover {
  background: linear-gradient(180deg, white 0%, #89e5b0 3%, #2cc36b 9%, #2cc36b 100%) !important;
}
.button.primary, .button.blue,
a.button.primary,
a.button.blue,
button.button.primary,
button.button.blue,
input[type=button].button.primary,
input[type=button].button.blue,
input[type=submit].button.primary,
input[type=submit].button.blue {
  background-color: #2980b9 !important;
  border: 1px solid #2980b9 !important;
}
.button.primary:hover, .button.blue:hover,
a.button.primary:hover,
a.button.blue:hover,
button.button.primary:hover,
button.button.blue:hover,
input[type=button].button.primary:hover,
input[type=button].button.blue:hover,
input[type=submit].button.primary:hover,
input[type=submit].button.blue:hover {
  background-color: #3498db !important;
  border: 1px solid #3498db !important;
}
.button.primary.outline, .button.blue.outline,
a.button.primary.outline,
a.button.blue.outline,
button.button.primary.outline,
button.button.blue.outline,
input[type=button].button.primary.outline,
input[type=button].button.blue.outline,
input[type=submit].button.primary.outline,
input[type=submit].button.blue.outline {
  background-color: transparent !important;
  color: #2980b9 !important;
  border: 1px solid #2980b9 !important;
}
.button.primary.outline:hover, .button.blue.outline:hover,
a.button.primary.outline:hover,
a.button.blue.outline:hover,
button.button.primary.outline:hover,
button.button.blue.outline:hover,
input[type=button].button.primary.outline:hover,
input[type=button].button.blue.outline:hover,
input[type=submit].button.primary.outline:hover,
input[type=submit].button.blue.outline:hover {
  background-color: #409ad5 !important;
  border: 1px solid #409ad5 !important;
  color: #ffffff !important;
}
.button.primary.gradient, .button.blue.gradient,
a.button.primary.gradient,
a.button.blue.gradient,
button.button.primary.gradient,
button.button.blue.gradient,
input[type=button].button.primary.gradient,
input[type=button].button.blue.gradient,
input[type=submit].button.primary.gradient,
input[type=submit].button.blue.gradient {
  background: linear-gradient(180deg, #e7f2fa 0%, #6ab0de 3%, #2980b9 9%, #2980b9 100%) !important;
}
.button.primary.gradient:hover, .button.blue.gradient:hover,
a.button.primary.gradient:hover,
a.button.blue.gradient:hover,
button.button.primary.gradient:hover,
button.button.blue.gradient:hover,
input[type=button].button.primary.gradient:hover,
input[type=button].button.blue.gradient:hover,
input[type=submit].button.primary.gradient:hover,
input[type=submit].button.blue.gradient:hover {
  background: linear-gradient(180deg, white 0%, #94c6e7 3%, #2e8ece 9%, #2e8ece 100%) !important;
}
.button.danger, .button.red,
a.button.danger,
a.button.red,
button.button.danger,
button.button.red,
input[type=button].button.danger,
input[type=button].button.red,
input[type=submit].button.danger,
input[type=submit].button.red {
  background-color: #c0392b !important;
  border: 1px solid #c0392b !important;
}
.button.danger:hover, .button.red:hover,
a.button.danger:hover,
a.button.red:hover,
button.button.danger:hover,
button.button.red:hover,
input[type=button].button.danger:hover,
input[type=button].button.red:hover,
input[type=submit].button.danger:hover,
input[type=submit].button.red:hover {
  background-color: #d14233 !important;
  border: 1px solid #d14233 !important;
}
.button.danger.outline, .button.red.outline,
a.button.danger.outline,
a.button.red.outline,
button.button.danger.outline,
button.button.red.outline,
input[type=button].button.danger.outline,
input[type=button].button.red.outline,
input[type=submit].button.danger.outline,
input[type=submit].button.red.outline {
  background-color: transparent !important;
  color: #c0392b !important;
  border: 1px solid #c0392b !important;
}
.button.danger.outline:hover, .button.red.outline:hover,
a.button.danger.outline:hover,
a.button.red.outline:hover,
button.button.danger.outline:hover,
button.button.red.outline:hover,
input[type=button].button.danger.outline:hover,
input[type=button].button.red.outline:hover,
input[type=submit].button.danger.outline:hover,
input[type=submit].button.red.outline:hover {
  background-color: #d65548 !important;
  border: 1px solid #d65548 !important;
  color: #ffffff !important;
}
.button.danger.gradient, .button.red.gradient,
a.button.danger.gradient,
a.button.red.gradient,
button.button.danger.gradient,
button.button.red.gradient,
input[type=button].button.danger.gradient,
input[type=button].button.red.gradient,
input[type=submit].button.danger.gradient,
input[type=submit].button.red.gradient {
  background: linear-gradient(180deg, #fbf0ef 0%, #df7c72 3%, #c0392b 9%, #c0392b 100%) !important;
}
.button.danger.gradient:hover, .button.red.gradient:hover,
a.button.danger.gradient:hover,
a.button.red.gradient:hover,
button.button.danger.gradient:hover,
button.button.red.gradient:hover,
input[type=button].button.danger.gradient:hover,
input[type=button].button.red.gradient:hover,
input[type=submit].button.danger.gradient:hover,
input[type=submit].button.red.gradient:hover {
  background: linear-gradient(180deg, white 0%, #e9a39b 3%, #d14233 9%, #d14233 100%) !important;
}
.button.secondary, .button.yellow,
a.button.secondary,
a.button.yellow,
button.button.secondary,
button.button.yellow,
input[type=button].button.secondary,
input[type=button].button.yellow,
input[type=submit].button.secondary,
input[type=submit].button.yellow {
  background-color: #f39c12 !important;
  border: 1px solid #f39c12 !important;
}
.button.secondary:hover, .button.yellow:hover,
a.button.secondary:hover,
a.button.yellow:hover,
button.button.secondary:hover,
button.button.yellow:hover,
input[type=button].button.secondary:hover,
input[type=button].button.yellow:hover,
input[type=submit].button.secondary:hover,
input[type=submit].button.yellow:hover {
  background-color: #f5ab35 !important;
  border: 1px solid #f5ab35 !important;
}
.button.secondary.outline, .button.yellow.outline,
a.button.secondary.outline,
a.button.yellow.outline,
button.button.secondary.outline,
button.button.yellow.outline,
input[type=button].button.secondary.outline,
input[type=button].button.yellow.outline,
input[type=submit].button.secondary.outline,
input[type=submit].button.yellow.outline {
  background-color: transparent !important;
  color: #f39c12 !important;
  border: 1px solid #f39c12 !important;
}
.button.secondary.outline:hover, .button.yellow.outline:hover,
a.button.secondary.outline:hover,
a.button.yellow.outline:hover,
button.button.secondary.outline:hover,
button.button.yellow.outline:hover,
input[type=button].button.secondary.outline:hover,
input[type=button].button.yellow.outline:hover,
input[type=submit].button.secondary.outline:hover,
input[type=submit].button.yellow.outline:hover {
  background-color: #f5b043 !important;
  border: 1px solid #f5b043 !important;
  color: #ffffff !important;
}
.button.secondary.gradient, .button.yellow.gradient,
a.button.secondary.gradient,
a.button.yellow.gradient,
button.button.secondary.gradient,
button.button.yellow.gradient,
input[type=button].button.secondary.gradient,
input[type=button].button.yellow.gradient,
input[type=submit].button.secondary.gradient,
input[type=submit].button.yellow.gradient {
  background: linear-gradient(180deg, white 0%, #f8c573 3%, #f39c12 9%, #f39c12 100%) !important;
}
.button.secondary.gradient:hover, .button.yellow.gradient:hover,
a.button.secondary.gradient:hover,
a.button.yellow.gradient:hover,
button.button.secondary.gradient:hover,
button.button.yellow.gradient:hover,
input[type=button].button.secondary.gradient:hover,
input[type=button].button.yellow.gradient:hover,
input[type=submit].button.secondary.gradient:hover,
input[type=submit].button.yellow.gradient:hover {
  background: linear-gradient(180deg, white 0%, #fad9a4 3%, #f4a62a 9%, #f4a62a 100%) !important;
}
.button.muted, .button.gray,
a.button.muted,
a.button.gray,
button.button.muted,
button.button.gray,
input[type=button].button.muted,
input[type=button].button.gray,
input[type=submit].button.muted,
input[type=submit].button.gray {
  background-color: #bdc3c7 !important;
  border: 1px solid #bdc3c7 !important;
}
.button.muted:hover, .button.gray:hover,
a.button.muted:hover,
a.button.gray:hover,
button.button.muted:hover,
button.button.gray:hover,
input[type=button].button.muted:hover,
input[type=button].button.gray:hover,
input[type=submit].button.muted:hover,
input[type=submit].button.gray:hover {
  background-color: #c5d3e2 !important;
  border: 1px solid #c5d3e2 !important;
}
.button.muted.outline, .button.gray.outline,
a.button.muted.outline,
a.button.gray.outline,
button.button.muted.outline,
button.button.gray.outline,
input[type=button].button.muted.outline,
input[type=button].button.gray.outline,
input[type=submit].button.muted.outline,
input[type=submit].button.gray.outline {
  background-color: transparent !important;
  color: #bdc3c7 !important;
  border: 1px solid #bdc3c7 !important;
}
.button.muted.outline:hover, .button.gray.outline:hover,
a.button.muted.outline:hover,
a.button.gray.outline:hover,
button.button.muted.outline:hover,
button.button.gray.outline:hover,
input[type=button].button.muted.outline:hover,
input[type=button].button.gray.outline:hover,
input[type=submit].button.muted.outline:hover,
input[type=submit].button.gray.outline:hover {
  background-color: #d9dcde !important;
  border: 1px solid #d9dcde !important;
  color: #ffffff !important;
}
.button.muted.gradient, .button.gray.gradient,
a.button.muted.gradient,
a.button.gray.gradient,
button.button.muted.gradient,
button.button.gray.gradient,
input[type=button].button.muted.gradient,
input[type=button].button.gray.gradient,
input[type=submit].button.muted.gradient,
input[type=submit].button.gray.gradient {
  background: linear-gradient(180deg, white 0%, #f4f5f6 3%, #bdc3c7 9%, #bdc3c7 100%) !important;
}
.button.muted.gradient:hover, .button.gray.gradient:hover,
a.button.muted.gradient:hover,
a.button.gray.gradient:hover,
button.button.muted.gradient:hover,
button.button.gray.gradient:hover,
input[type=button].button.muted.gradient:hover,
input[type=button].button.gray.gradient:hover,
input[type=submit].button.muted.gradient:hover,
input[type=submit].button.gray.gradient:hover {
  background: linear-gradient(180deg, white 0%, white 3%, #cbd0d3 9%, #cbd0d3 100%) !important;
}
.button.dark,
a.button.dark,
button.button.dark,
input[type=button].button.dark,
input[type=submit].button.dark {
  background-color: #2c3e50 !important;
  border: 1px solid #2c3e50 !important;
}
.button.dark:hover,
a.button.dark:hover,
button.button.dark:hover,
input[type=button].button.dark:hover,
input[type=submit].button.dark:hover {
  background-color: #010f2c !important;
  border: 1px solid #010f2c !important;
}
.button.dark.outline,
a.button.dark.outline,
button.button.dark.outline,
input[type=button].button.dark.outline,
input[type=submit].button.dark.outline {
  background-color: transparent !important;
  color: #2c3e50 !important;
  border: 1px solid #2c3e50 !important;
}
.button.dark.outline:hover,
a.button.dark.outline:hover,
button.button.dark.outline:hover,
input[type=button].button.dark.outline:hover,
input[type=submit].button.dark.outline:hover {
  background-color: #3e5871 !important;
  border: 1px solid #3e5871 !important;
  color: #ffffff !important;
}
.button.dark.gradient,
a.button.dark.gradient,
button.button.dark.gradient,
input[type=button].button.dark.gradient,
input[type=submit].button.dark.gradient {
  background: linear-gradient(180deg, #aabed1 0%, #507192 3%, #2c3e50 9%, #2c3e50 100%) !important;
}
.button.dark.gradient:hover,
a.button.dark.gradient:hover,
button.button.dark.gradient:hover,
input[type=button].button.dark.gradient:hover,
input[type=submit].button.dark.gradient:hover {
  background: linear-gradient(180deg, #cbd7e3 0%, #698bac 3%, #354b60 9%, #354b60 100%) !important;
}
.button.lightblue,
a.button.lightblue,
button.button.lightblue,
input[type=button].button.lightblue,
input[type=submit].button.lightblue {
  background-color: #39d5ff !important;
  border: 1px solid #39d5ff !important;
}
.button.lightblue:hover,
a.button.lightblue:hover,
button.button.lightblue:hover,
input[type=button].button.lightblue:hover,
input[type=submit].button.lightblue:hover {
  background-color: #06caff !important;
  border: 1px solid #06caff !important;
}
.button.lightblue.outline,
a.button.lightblue.outline,
button.button.lightblue.outline,
input[type=button].button.lightblue.outline,
input[type=submit].button.lightblue.outline {
  background-color: transparent !important;
  color: #39d5ff !important;
  border: 1px solid #39d5ff !important;
}
.button.lightblue.outline:hover,
a.button.lightblue.outline:hover,
button.button.lightblue.outline:hover,
input[type=button].button.lightblue.outline:hover,
input[type=submit].button.lightblue.outline:hover {
  background-color: #6ce0ff !important;
  border: 1px solid #6ce0ff !important;
  color: #ffffff !important;
}
.button.lightblue.gradient,
a.button.lightblue.gradient,
button.button.lightblue.gradient,
input[type=button].button.lightblue.gradient,
input[type=submit].button.lightblue.gradient {
  background: linear-gradient(180deg, white 0%, #9febff 3%, #39d5ff 9%, #39d5ff 100%) !important;
}
.button.lightblue.gradient:hover,
a.button.lightblue.gradient:hover,
button.button.lightblue.gradient:hover,
input[type=button].button.lightblue.gradient:hover,
input[type=submit].button.lightblue.gradient:hover {
  background: linear-gradient(180deg, white 0%, #d2f5ff 3%, #53daff 9%, #53daff 100%) !important;
}
