.button,
a.button,
button.button,
input[type="button"].button,
input[type="submit"].button {
  margin: 5px 0;
  padding: 10px 20px;
  border-radius: 4px !important;
  text-decoration: none !important;
  color: $color_white !important;
  text-align: center;
  display: inline-block;
  font-size: 15px !important;
  transition: all $short_trans;

  &:hover {
    cursor: pointer;
    transition: all $short_trans ease;
  }

  &.small {
    padding: 5px 15px !important;
    border-radius: 3px !important;
    font-size: 14px !important;
  }
  &.block {
    display: block !important;
    width: 100%;
  }

  &.green,
  &.success {
    @include button($color_green, $color_green2);
  }

  &.primary,
  &.blue {
    @include button($color_primary, $color_primary2);
  }

  &.danger,
  &.red {
    @include button($color_red, lighten($color_red, 5));
  }

  &.secondary,
  &.yellow {
    @include button($color_secondary, $color_secondary2);
  }

  &.muted,
  &.gray {
    @include button($color_gray, $color_gray2);
  }

  &.dark {
    @include button($color_dark, $color_black);
  }

  &.lightblue {
    @include button($color_blue3, darken($color_blue3, 10%));
  }
}
