.button,
a.button,
button.button,
input[type="button"].button,
input[type="submit"].button {
  margin: 5px 0;
  padding: 8px 20px;
  border-radius: 4px !important;
  text-decoration: none !important;
  color: $color_white !important;
  text-align: center;
  display: inline-block;
  font-size: 15px !important;
  transition: all $short_trans;
  font-weight: 500 !important;

  &:hover {
    cursor: pointer;
    transition: all $short_trans ease;
  }

  &.small {
    padding: 5px 15px !important;
    border-radius: 3px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
  }
  &.block {
    display: block !important;
    width: 100%;
  }

  @each $name, $color in $colors {
    &.#{$name} {
      @include button($color);
    }
  }
  
  &.success {
    @include button($color_green, $color_green2);
  }

  &.primary {
    @include button($color_primary, $color_primary2);
  }

  &.danger {
    @include button($color_red, lighten($color_red, 5));
  }

  &.secondary {
    @include button($color_secondary);
  }

  &.muted {
    @include button($color_gray, $color_gray2);
  }
}
