@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,700;1,200;1,300;1,400;1,500;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

body {
  background-color: $color_white;
  color: $color_dark;
  font-family: "Montserrat", Helvetica, sans-serif;
}

a {
  color: $color_primary;
  &:hover {
    color: $color_primary2;
  }
}

button,
input[type="button"],
input[type="submit"] {
  font-family: "Montserrat", Helvetica, sans-serif !important;
}

.wrapper {
  max-width: $wrapper_width;
  margin: 0 auto;
}

main {
  position: relative;
  top: $nav_height;
}
