.sidebar {
  // background: lighten($color_light, 0%);
  padding: 30px 10px;
  width: 170px;
  height: 100vh;
  border-right: 1px solid $color_gray;
  position: fixed;

  ul {
    list-style: none;

    li {
      padding: 8px 2px;

      a {
        text-decoration: none;
        font-weight: 500;
        color: #5c6a79;
        font-size: 15px;
        display: flex;
        align-items: center;

        &:hover {
          color: $color_dark;
        }
        svg.feather {
          width: 20px !important;
          height: 20px !important;
          padding-right: 5px;
        }
      }
    }
  }
}
