main {
  position: relative;
  top: $nav_height;
}

.sidebar {
  background: $color_white !important;
  padding: $container_padding 0;
  width: $sidebar_width;
  height: 100vh;
  background: $color_white;
  background: linear-gradient(
    90deg,
    $color_white 0%,
    $color_white 75%,
    to-rgba($color_light, 10) 100%
  );
  border-right: 1px solid $color_gray;
  position: fixed;
  z-index: 1;

  ul {
    list-style: none;

    li {
      padding: 5px 0;

      &.active a,
      &.active a:hover {
        background: $color_light;
        color: $color_black;
        width: 100%;
        border-right: 4px solid $color_green;
        font-weight: 600;
      }

      a {
        text-decoration: none;
        font-weight: 500;
        color: $text_gray;
        font-size: 15px;
        display: flex;
        align-items: center;
        padding: 6px 10px;
        transition: none;

        &:hover {
          background: linear-gradient(
            90deg,
            to-rgba($color_light, 10) 0%,
            to-rgba($color_light, 100) 70%,
            to-rgba($color_light, 100) 100%
          );
          color: $color_black;
          border-right: 4px solid $color_yellow;
          transition: display $mid_trans;
        }

        svg.feather {
          width: 20px !important;
          height: 20px !important;
          padding-right: 5px;
        }
      }
    }
  }
}

.title-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;

  .main-title {
    font-size: 1.75rem;
  }

  .button {
    letter-spacing: 0px;
    padding-left: 12px !important;
    padding-right: 12px !important;
    font-weight: 400 !important;
  }
}

.hot-interest {
  font-size: 14px !important;
  margin-bottom: 20px;
}

.question-list {
  margin: 0 -30px;
  border-top: 1px solid $color_gray;

  .question-asked {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid $color_light;

    .question-left {
      display: flex;
      align-items: center;
      padding: 0 10px;

      &.in-columns {
        flex-direction: column !important;
        padding: 0 9px;

        .counter {
          margin: 3px 2px;
          padding: 5px 4px !important;
          &.votes {
            padding: 5px 12px !important;
          }
          &.views {
            padding: 5px 11px !important;
            display: flex;
            justify-content: space-around;
            text-align: center;

            .count {
              font-size: 12px !important;
              padding-right: 2px;
            }
            .label {
              font-size: 11px !important;
              padding-left: 2px;
            }
          }
        }
      }

      .counter {
        text-align: center;
        margin: 5px 3px;
        padding: 12px 10px;
        border: 1px solid transparent;
        color: $color_gray;

        &.votes,
        &.views {
          padding: 12px 16px;
        }

        .count {
          font-size: 14px !important;
        }

        .label {
          font-size: 11px !important;
        }

        &.done {
          border: 1px solid $color_green;
          border-radius: 3px;
          color: $color_green !important;

          .label {
            font-size: 11px !important;
          }
        }
      }
    }

    .question-right {
      flex-grow: 1;
      padding: 0 10px;

      .question-top {
        margin-bottom: 10px;
      }

      h3.question-title,
      .question-title {
        padding: 9px 0;
        font-size: 17px !important;
        font-weight: 400 !important;

        a {
          text-decoration: none;

          &:hover {
            color: #0094f5 !important;
          }
        }
      }

      .question-summery {
        font-size: 13px !important;
        padding-bottom: 5px;
      }

      .question-bottom {
        display: flex;
        justify-content: space-between;

        .question-tags {
          a.q-tag,
          .q-tag {
            font-size: 12px !important;
            border-radius: 3px;
            background: lighten($color_blue, 47);
            color: $color_blue;
            padding: 5px 7px;
            margin-right: 2px;
            text-decoration: none;

            &:hover {
              background: lighten($color_blue, 45);
              color: #003b61;
            }
          }
        }

        .question-asked-by {
          margin-top: -2px;

          .asked-by-block {
            display: flex;
            flex-direction: column;
            text-align: right;
            color: $text_gray;
          }

          .last-updated-on {
            font-size: 10px !important;
          }

          .asked-by {
            font-size: 11px !important;
          }
        }
      }
    }

    &.new {
      background: lighten(#e1b12c, 42) !important;
      .label,
      .count {
        color: $text_gray !important;
      }
      h3.question-title,
      .question-title {
        font-weight: 500 !important;
      }
    }
  }
}
