nav {
  width: 100%;
  height: $nav_height;
  background-color: $color_white;
  border-top: 3px solid $color_green;
  position: fixed;
  z-index: 99999999;

  &.nav {
    box-shadow: 0 0 5px $color_gray;
  }

  ul.nav-list {
    height: $nav_height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      list-style: none;
      padding: 5px 10px;

      a {
        color: $color_dark;
        transition: all 600ms;

        &.nav-link {
          text-decoration: none;
        }

        &:hover {
          color: $color_secondary;
          transition: all 300ms;
        }

        img.logo,
        .logo {
          padding-left: 15px;
          height: 25px;
        }

        img.logo-mobile {
          @extend .logo;
          display: none;
        }
      }
    }
  }

  .login-section {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .button {
      margin-right: 15px;
      margin-bottom: 7px;
    }
  }
}
