// Colors
$color_green: #27ae60;
$color_green2: #2ecc71;
$color_blue: #2980b9;
$color_blue2: #3498db;
$color_blue3: #39d5ff;
$color_red: #c0392b;
$color_yellow: #f39c12;
$color_yellow2: #f5ab35;
$color_gray: #bdc3c7;
$color_gray2: #c5d3e2;
$color_dark: #2c3e50;
$color_black: #010f2c;
$color_white: #ffffff;
$color_light: #ecf0f1;
$color_primary: $color_blue;
$color_primary2: $color_blue2;
$color_secondary: $color_yellow;
$color_secondary2: $color_yellow2;

$text_gray: #5c6a79;
$text_dark: #2c3e50;

// Sizes
$wrapper_width: 1100px;
$nav_height: 50px;

$container_padding: 30px;
$sidebar_width: 170px;
