.form-body{
  background-color: #ffffff;
  width: 100%;
  padding: 20px;
  border-radius: 5px;

  // border: 1px solid #eee;
  box-shadow: 0 1px 3px hsla(0, 0%, 0%, 0.06), 
              0 2px 6px hsla(0, 0%, 0%, 0.06),
              0 3px 8px hsla(0, 0%, 0%, 0.09);
  margin-bottom: 20px;
}

form {
  &.question-form{
    label, small {
      display: block;
      padding: 2px 0;
    }
    label{
      font-size: 16px;
      font-weight: bold;
    }
    input, textarea {
      display: block;
      width: 100%;
      padding: 10px 12px;
      border-radius: 4px;
      margin: 3px 0;
      border: 1px solid $color_gray2;
    }
    .input-group:not(:first-child) {
      margin: 15px 0;
    }
    .input-button {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      button {
        font-size: 14px;
        font-weight: 400 !important;
      }
    }
  }
}